.education {
    display: grid;
    grid-template: 2rem 2rem / 100px 400px;
    grid-template-areas:
    "startDate university"
    "endDate degree";
    column-gap: 1rem;
}

.education .startDate {
    grid-area: startDate;
}

.education .endDate {
    grid-area: endDate;
}

.university {
    grid-area: university;
}

.degree {
    grid-area: degree;
}