.header {
    display: grid;
    grid-template: repeat(2, 2rem) / repeat(2, 200px);
    grid-template-areas:
    "firstName lastName"
    "currentTitle currentTitle";
    row-gap: 1rem;
    padding: 2rem;
}
.name input{
    font-size: 2rem;
    width: 200px;
    border: none;
    outline: none;
}

.currentTitle {
    grid-area: currentTitle;
    width: 500px;
    border: none;
    outline: none;
}