.header {
    display: grid;
    grid-template: repeat(2, 2rem) 200px;
    grid-template-areas:
    "firstName"
    "currentTitle"
    "summary";
    row-gap: 1rem;
    
}
.name input{
    font-size: 2rem;
    width: 200px;
    border: none;
    outline: none;
}

.currentTitle {
    grid-area: currentTitle;
    width: 500px;
    border: none;
    outline: none;
}

.summary {
    width: 500px;
}